* {
    padding: 0;
    margin: 0;
    /* border: solid red;  */
}

#navHome {
    display: flex;
    width: 100%;
    background-color: rgb(8, 128, 193);
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

nav {
    width: 30%;
    font-size: large;
}

.lista {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
}

.lista>li {
    list-style: none;
}

.lista>li>a> {
    text-decoration: none;
}

ul > li > a{
    color: black;
    text-decoration: none;
}

#root {
    margin: 15px;
    padding: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

#buscador {
    margin: 50px;
    padding: 20px;
    width: max-content;
    margin: auto;
}

#buscador>input {
    width: 300px;
    padding: 10px;
}

#containerCategorias {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
}

#containerCategorias> .btn-categoria {
    margin: 10px;
    border: 1px solid rgb(8, 128, 193);
    padding: 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

#containerCategorias> .btn-categoria:hover {
    background-color: rgb(8, 128, 193);
    color: white;
    
}

#contenedorProductos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card>img {
    display: flex;
    width: 18rem;
    height: 300px;
}

.card>span {
    margin: 5px;
}

.card>button {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

footer {
    display: flex;
    width: 100%;
    background-color: aqua;
    padding: 10 px 20 px;
    position: fixed;
    bottom: 0;
}

#carrito{
    /* border: solid red;   */
    display: flex;
}